body{
  font-family: sans-serif, serif ;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #eee;
  height: auto;
}


/* Global */
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}
.button_1{
  height: 38;
  background: black;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #F5F5F5;
}
.dark{
  padding: 15px;
  background: #f4f4f4;
  color: white;
}
header .branding{
  size:15px;
}

header {
  background: black;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: white 3px solid;
  size: 16px;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: center;
  size: 10px;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: center;
  margin-top: 3px;
}

header .highlight, header .current a{
  color: #F5F5F5;
  font-weight: lighter;
  size: 15px;
}

header a:hover {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 25px;
}

/* Showcase */

#showcase {
  min-height: 400px;
  background: url('../images/header.JPG')no-repeat 0;
  background-size: cover;
  text-align: center;
  color: #F5F5F5;

}
#showcase h1{
  margin-top: 100px;
  font-size: 160px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 10px;
}
/* newsleter */
#newsleter{
  padding: 15px;
  color: black;
  background: #F5F5F5;
  size: 10px;
}

#newsleter h1{
  float: left;
  size: 25px;
  font-size: 20px;
}
#newsleter form{
  float: right;
  margin-top: 15px;
}
#newsleter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
/* Boxes */
#boxes {
  margin-top: 20px;
}
#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
  height: 90px;
}

#boxes .FAKENEWS img{
  width: 90px;
  height: 90px;

}
aside#sidebar{
  float: right;
  width: 30%;
  margin-top; 10px
}
aside#sidebar .quote input, aside#sidebar .quote textarea,{
  width: 90%;
  padding: 5px;
}

article#main-col{
  float: left;
  width: 65%;
}

ul#contact li{
  list-style: none;
  padding: 10px;
  border: grey, solid, 1px;
  margin-botton:5px;
  background: #F5F5F5;

}
.container img{
  display: block;
  width: 100%;
}

#footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: right;
}

@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li{
    float: none;
    text-align: center;
    width: 100%
  }

  header{
    padding-bottom: 20px;
  }
}

.btn{
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-family: Helvetica, sans-serif;
}
.btn:hover {
  background: #f4f4f4;
}
